<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaUfbZUvWFDYbxweq8z3DcVAKI-FYlwxc</string>
	<key>GCM_SENDER_ID</key>
	<string>264773642827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackedArchitecturePractices</string>
	<key>PROJECT_ID</key>
	<string>socialize-case</string>
	<key>STORAGE_BUCKET</key>
	<string>socialize-case.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264773642827:ios:651029cf1ea6f6ffa1bbce</string>
</dict>
</plist>